.about .container {
  display: none;
  @include desktop {
    display: block;
  }
}

@include desktop {
  .about {
    padding-top: 94px;
  }
}

.about-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--main-color);
  margin-bottom: 50px;
}
  
.projects {
  display: flex;
  &__item {
    position: relative;
    &:not(:last-child) {
      margin-right: var(--typical-distance);
    }
  }
  &__title {
    font-weight: 700;
    line-height: 1.14;
    text-align: center;
    text-transform: uppercase;
  
    color: #ffffff;
    width: 100%;
    height: 70px;
    background-color: rgba(47, 48, 58, 0.8);
  
    display: flex;
    align-items: center;
    justify-content: center;
  
    position: absolute;
    bottom: 0;
  }    
}


  
