.brand-link {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
  
    padding-top: 25px;
    padding-bottom: 25px;
    margin-right: 93px;
  }
  
  .brand-text-onehalf {
    color: var(--brand-color-one);
  }
  
  .brand-text-twohalf {
    color: var(--brand-color-two);
  }
  .brand-text-twohalf-second {
    color: var(--brand-second-color-two);
  }
  
  .footer-brand-link {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
  }