.footer {

  background-color: var(--tagline-backgroundcolor);
  padding-top: 60px;
  padding-bottom: 60px;

  &-brand-link {
    display: block;
    margin-bottom: 20px;
  }
  .container {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    gap: 60px;
    @include desktop {
      flex-wrap: nowrap;
    }
  }

  &__contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    @include tablet {
      width: calc((100% - 60px) / 2);
    }
    @include desktop {
      justify-content: start;
      align-items: unset;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 9px;
  }
  &__item {
    width: 100%;
    display: flex;
    justify-content: center; 
    @include desktop {
      justify-content: start;
    }
  }
  &__link {
    line-height: 1.71;
    color: rgba(255, 255, 255, 0.6);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      color: var(--accent-color);
    }
    &--geo {
      color: var(--tagline-color);
    }
  }
}

.our-soc {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  @include tablet {
    width: calc((100% - 60px) / 2) ;
  }
  @include desktop {
    // margin-left: 70px;
    // margin-right: 94px;
    justify-content: start;
  }

  &__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: #ffffff;
    width: 100%;
    text-align: center;
    // margin-bottom: 20px;
    @include desktop {
      text-align: inherit;
    }
  }
  &__list{
    display: flex;
    justify-content: center;
    width: 100%;
    @include desktop {
      justify-content: start;
    }
  }
  &__item {
    margin-left: 10px;
    &:first-child {
      margin-left: 0;
    }      
  }
  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    color: #ffffff;
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      background-color: var(--accent-color);
    }
  }
  &__icon {
    fill: currentColor;
  }
}

.distribution {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
  @include desktop {
    flex-grow: 2;
    min-width: 570px;
    width: 570px;
  }
  
  &__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: #ffffff;
    // margin-bottom: 20px;
    width: 100%;
    text-align: center;
    @include desktop {
      text-align: inherit;
    }
  }
  &__form {
    display: flex;
    flex-wrap: wrap;
    gap: 20px  12px;
    @include desktop {
      justify-content: space-between;
      width: 100%;
      flex-wrap: nowrap;
    }
  }
  &__label {
    width: 100%;
  }  
  &__input {
    height: 50px;
    width: 100%;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding: 15px;
    color: var(--main-backgroundcolor);
    &::placeholder {
      font-size: 16px;
      line-height: 1.25;
      color: rgba(255, 255, 255, 0.6);
    }    
  }
  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      background-color: var(--btn-accent-backgroundcolor);
    }
  }
  &__icon {
    fill: currentColor;
    margin-left: 10px;
  }
}