:root {
    --brand-color-one: #2196f3;
    --brand-color-two: #000000;
    --brand-second-color-two: #ffffff;
    --main-color: #212121;
    --second-color: #757575;
    --accent-color: #2196f3;
    --main-backgroundcolor: #ffffff;
    --second-backgroundcolor: #e5e5e5;
    --accent-backgroundcolor: #f5f4fa;
    --tagline-backgroundcolor: #2f303a;
    --tagline-color: #ffffff;
    --btn-text-color: #ffffff;
    --btn-accent-backgroundcolor: #188ce8;
    --section-padding: 30px;
    --typical-distance: 30px;
    --margin-section: 215px;
  }